<h1> Add a new movie</h1>

<form action="/new_movies">
    <div>
 
     <label for="the_image_url">
        Image url
     </label>
     
       
    
    <input type= "text" name= "the_image_url" id="the_image_url">
    </div>
        
    <br/>
    <div>
    <label for="title_input">
        Title
     </label>
     
     
    
    <input type= "text" name= "the_title" id="title_input">
        
    <br/>
    
    
    </div>
 
     <br/>
    <div>
    <label for="description_input">
        Description
     </label>
     
     
    
    <input type= "text" name= "the_description" id="bio_description">
        
    <br/>
    
      <div>
    <label for="duration_input">
       Duration
     </label>
     
     
    
    <input type= "text" name= "the_duration" id="duration_input">
        
    <br/>
    
    </div>  
    
     <div>
    <label for="year_input">
       Year
     </label>
     
     
    
    <input type= "text" name= "the_year" id="year_input">
        
    <br/>
    
    </div>  
    
    <button>Create movie</button>
    
  
</form>
