<h1> Add a new director</h1>

<form action="/new_directors">
    <div>
 
     <label for="the_image_url">
        Image URL
     </label>
     
       
    
    <input type= "text" name= "the_image_url" id="the_image_url">
    </div>
        
    <br/>
    <div>
    <label for="name_input">
        Name
     </label>
     
     
    
    <input type= "text" name= "the_name" id="name_input">
        
    <br/>
    
    
    </div>
 
     <br/>
    <div>
    <label for="bio_input">
        Bio
     </label>
     
     
    
    <input type= "text" name= "the_bio" id="bio_input">
        
    <br/>
    
      <div>
    <label for="dob_input">
       DOB
     </label>
     
     
    
    <input type= "text" name= "the_dob" id="dob_input">
        
    <br/>
    
    </div>  
    
    <button>Create Director </button>
    
  
</form>
